@using CoreLayer.Models
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<Brand>
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Marka Güncelleme Listesi</h2>

<form asp-controller="Brand" asp-action="Update" method="get">
    <p>
        <b>Marka Ara: </b><input type="text" name="p" />
        <input type="submit" value="Ara" class="btn btn-info" />
    </p>
</form>

<table class="table table-bordered" style="margin-right:90px">
    <tr>
        <th>Id</th>
        <th>Marka Adı</th>
        <th>Durumu</th>
        <th>Marka Kaldır</th>
        <th>Marka Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>

            @if (item.isActive == true)
            {
                <td>Marka Mevcut</td>
            }
            @if (item.isActive == false)
            {
                <td>Marka Mevcut Değil</td>
            }

            <td  style="text-align:center"> <a class="btn btn-danger" asp-controller="Brand" asp-action="Remove" asp-route-id="@item.Id">Sil</a></td>
            <td  style="text-align:center"> <a class="btn btn-success" asp-controller="Brand" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model,sayfa => Url.Action("Update",new {sayfa}))

<a href="/Brand/Save" class="btn btn-primary">Marka Ekle</a>
