@using CoreLayer.Models
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<Category>
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Kategori Güncelleme Listesi</h2>

<form asp-controller="Category" asp-action="Update" method="get">
    <p>
        <b>Kategori Ara:</b> <input type="text" name="p"  />
        <input type="submit" value="Ara" class="btn btn-info" />
    </p>
</form>

<table class="table table-bordered" style="margin-right:90px">
    <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Kod</th>
        <th>Durumu</th>
        <th>Kategori Kaldır</th>
        <th>Kategori Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Code</td>
            @if(item.isActive == true)
            {
                <td>Kategori Mevcut</td>
            }
            @if(item.isActive == false)
            {
                <td>Kategori Mevcut Değil</td>
            }
            <td style="text-align:center"> <a  class="btn btn-danger"   asp-controller="Category" asp-action="Remove" asp-route-id="@item.Id">Sil</a></td>
            <td style="text-align:center" >  <a  class="btn btn-success"  asp-controller="Category" asp-action="CategoryUpdate" asp-route-id="@item.Id">Güncelle</a></td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model,sayfa => Url.Action("Update",new {sayfa}))

<a href="/Category/Save" class="btn btn-primary">Kategori Ekle</a>

